@page "/"
@using globals.Models
@using ClientServices
@inject BestellungenService _BestellungenService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<table>
@foreach (var bestellung in _bestellungen)
{
    <tr class="@GetStatusClass(bestellung.Status_bg)">
        <th>
            <label class="switch">
                <input type="checkbox" class="childCheckbox">
                <span class="slider"></span>
            </label>
        </th>
        <td>@bestellung.LfdNr</td>
        <td>@bestellung.Ankaeufer</td>
        <td>@bestellung.Datum.ToString("dd.MM.yyyy")</td>
        <td>@bestellung.Zeit.ToString("HH:mm")</td>
        <td>@bestellung.Kunde</td>
        <td>@bestellung.Artikel</td>
        <td>@bestellung.VP</td>
        <td>@bestellung.Menge</td>
        <td>@bestellung.Einzelpreis</td>
        <td>@bestellung.Bemerkung</td>
        <td>@bestellung.Container</td>
        <td>@bestellung.Besteller</td>
        <td>@bestellung.Status_bg</td>
        <td>@bestellung.StkCC</td>
    </tr>
}
</table>
@code {
    private List<Bestellung> _bestellungen = new List<Bestellung>();

    protected override async Task OnInitializedAsync()
    {
        //SetDemoData();
        await GetFromApi();
    }
    private async Task GetFromApi()
    {
        _bestellungen = await _BestellungenService.GetFromAPI(1, 1, 1);
    }
    private void SetDemoData()
    {
        _bestellungen.Clear();

        _bestellungen.Add(new Bestellung
        {
            LfdNr = 382218,
            Ankaeufer = "elbers",
            Datum = DateTime.Now,
            Zeit = DateTime.Now,
            Kunde = "6",
            Artikel = "Call vulg. GG Sunset Trio 11 cm Trio",
            VP = "DN",
            Menge = "80 X 8",
            StueckJePalette = 8,
            GesamtanzahlNetto = 640,
            Einzelpreis = 1.5,
            Bemerkung = "Bemerkung für diese Bestellung",
            Container = "Tag 5",
            Besteller = "Daniel",
            Status_bg = "gedruckt",
            StkCC = 40
        });

        _bestellungen.Add(new Bestellung
        {
            LfdNr = 382219,
            Ankaeufer = "elbers",
            Datum = DateTime.Now,
            Zeit = DateTime.Now,
            Kunde = "22",
            Artikel = "* Ampelpflanzen  xyz",
            VP = "DN",
            Menge = "42 X 4",
            StueckJePalette = 4,
            GesamtanzahlNetto = 40,
            Einzelpreis = 2.5,
            Bemerkung = "Bemerkung für diese Bestellung",
            Container = "Tag 2",
            Besteller = "Daniel",
            Status_bg = "bestätigt",
            StkCC = 20
        });
        _bestellungen.Add(new Bestellung
        {
            LfdNr = 382219,
            Ankaeufer = "test test",
            Datum = DateTime.Now,
            Zeit = DateTime.Now,
            Kunde = "777",
            Artikel = "Item",
            VP = "DN",
            Menge = "7 X 5",
            StueckJePalette = 4,
            GesamtanzahlNetto = 40,
            Einzelpreis = 2.5,
            Bemerkung = "Bemerkung für diese Bestellung",
            Container = "Tag 10",
            Besteller = "John Doi",
            Status_bg = "neu",
            StkCC = 20
        });
    }
    private string GetStatusClass(string status)
    {
        return status switch
        {
            "gedruckt" => "table-success",
            "bestätigt" => "table-danger",
            "neu" => "table-primary",
            _ => ""
        };
    }
}
